.chat-content-container
  .chat-messages
    .chat-message
      %p.chat-message__user-name
        seo
      %p.chat-message__date
        2016/09/21 06:16:55
      %p.chat-message__message
        Hello world!
    .chat-message
      %p.chat-message__user-name
        neko
      %p.chat-message__date
        2016/09/22 06:16:55
      %p.chat-message__message
        Good bye world!

