.header-container
  .header-container__left
    %h2.header-container__left--group-name
      sample
    %p.header-container__left--member-list
      Members:
      %span.header-container__left--member-list__member-name
        seo neko
  .header-container__right
    =link_to 'Edit', "/groups/#{@group.id}/edit", {class: "header-container__right--btn"}
