.chat-content-container
  .chat-messages
  - @messages.each do |message|
    .chat-message
      .chat-massage__upper-content
        %p.chat-message__upper-content__user-name
          seo
        %p.chat-message__upper-content__date
          2016/09/21 06:16:55
      %p.chat-message__message
        Hello world!
