.header-container
  .header-container__left
    %h2.header-container__left--group-name
      = @group.name
    %p.header-container__left--member-list
      Members:
      %span.header-container__left--member-list__member-name
      - @group.users.each do |user|
        = user.name
  .header-container__right
    =link_to 'Edit', edit_group_path(@group.id), {class: "header-container__right--btn"}
