.header-container
  .header-container__left
    %h2.header-container__left--group-name
      sample
    %p.header-container__left--member-list
      Members:
      %span.header-container__left--member-list__member-name
        seo neko
  .header-container__right
    .header-container__right--btn
      Edit
