.header-container
  .header-container__left
    %h2.header-container__left--group-name
      Group name
    %ul.header-container__left--member-list
      Member
      %li.header-container__left--member-list__member-name
  .header-container__right
    .header-container__right--btn
      Edit
