.sidebar-header-container
  %p.sidebar-header-container__user-name>
    seo
  %ul.sidebar-header-container__menu-list
    %li
      =link_to "#" do
        =fa_icon "edit"
    %li
      =link_to "#" do
        =fa_icon "cog"
