.sidebar-content-container
  .chat-groups
    - @groups.each do |group|
      = link_to group_messages_path(group.id) do
        .chat-group
          %p.chat-group__group-name
            = group.name
          %p.chat-group__latest-message
            - latest_message_object = group.messages.order(id: "DESC").limit(1)[0]
            - if latest_message_object
              = latest_message_object.message
            - else
              まだメッセージはありません

