.sidebar-header-container
  %p.sidebar-header-container__user-name>
    test_user
  %ul.sidebar-header-container__menu-list
    %li
      %i{:class => "fa fa-edit"}
    %li
      %i{:class => "fa fa-cog"}
