%div.success-group-creation
  = render :partial => "suceeded-in-group-creation"
%div.chat-container
  = render :partial => "chat-header"
  = render :partial => "chat-content"
  = render :partial => "chat-input-form"

%aside.sidebar-container
  =render :partial => "sidebar-header"
  =render :partial => "sidebar-content"
  
