= render :partial => "chat-header"
= render :partial => "chat-content"
= render :partial => "chat-input-form"

%aside
  =render :partial => "sidebar-header"
  =render :partial => "sidebar-content"
  
