.chat-content-container {
  position:                 fixed;
  top:                      $suceeded-in-group-creation-height + $chat-header-height;
  right:                    0;
  width:                    $chat-width;
  height:                   $chat-content-height;
  background-color:         #fafafa;  
}
