.header-container {
  position:                 fixed;
  top:                      0;
  right:                    0;
  width:                    $chat-width;
  height:                   $chat-header-height;
  border-bottom:            solid 1px #eeeeee;


  &__left {

    &--group-name {
      margin-top:           35px;
      font-size:            20px;
      color:                $cs-mid-grey;
    }
    &--member-list {
      &__member-name {
      }
    }

  }

  &__right {
    &--btn {
    }
  }
}
