.header-container {
  position:                 fixed;
  top:                      0;
  right:                    0;
  width:                    $chat-width;
  height:                   $chat-header-height;
  border-bottom:            solid 1px #eeeeee;
}
