.chat-input-form-container {
  width:                  $chat-width;
  height:                 $chat-input-form-height;
  position:               fixed;
  bottom:                 0;
  right:                  0;
  background-color:       #dddddd;
}
