.sidebar-header-container {
  position:             fixed;
  top:                  0;
  left:                 0;
  width:                $sidebar-width;
  height:               $header-height;
  background-color:     #253141;
}
