.sidebar-content-container {
  position:             fixed;
  bottom:               0;
  width:                $sidebar-width;
  height:               $sidebar-content-height;
  padding-top:          $sidebar-header-height;
  background-color:     #2f3e51;
}
