.suceeded-in-group-creation-container {

  .notice {
    color: $cs-white;
    text-align: center;
    background-color: $cs-light-blue;
  }
  .alert {
    color: $cs-white;
    text-align: center;
    background-color: $cs-alert-orange;
  }
  
}
