.suceeded-in-group-creation-container {
  position:           fixed;
  top:                0;
  z-index:            1;
  width:              100%;
  height:             $suceeded-in-group-creation-height;

  background-color:   $cs-light-blue;
  color:              $cs-white;
  font-size:          16px;
  text-align:         center;

  .flash {
    
    color:            $cs-white;
    text-align:       center;

    &__notice {
      background-color: $cs-light-blue;
    }
    &__alert {
      background-color: $cs-alert-orange;
    }

  }
}
