// cs: an abbreviation of 'chat-space'  

// defining color scheme
$cs-light-blue:   #38aef0;
$cs-light-grey:   #434a54;
$cs-mid-grey:     #333333;
$cs-heavy-grey:   #999999; 
$cs-white:        #ffffff;

